@model IEnumerable<WebApplication1.Models.Menu>

@{
    Layout = "~/Views/Shared/Global.cshtml"; // Commenting this out still uses it because it's defined in _ViewStart
                                             // Viewbag is used to pass data from control to the view
    ViewBag.Title = "Menu";
}

<div id="fixedBlock">
    <div id="menuNav">
        <a href="#starters">Starters</a>
        <br />
        <a href="#mainMeals">Main Meals</a>
        <br />
        <a href="#desserts">Desserts</a>
    </div>
</div>
<div id="menuSection">
    <div id="blankSpaceTopMenu">
        <p>Dinner Menu</p>
        <p id="time">3 - 10pm</p>
    </div>
    <h1 id="starters">Starters</h1>

    @foreach (var item in Model)
    {
        if (item.Category.Trim() == "Starters")
        {

        <div class="menuItems" onmouseover="@{TempData["orderName" + item.ID] = item.Name; TempData["orderPrice" + item.ID] = item.Price; TempData["orderDescription" + item.ID] = item.Descritpion; TempData["orderCategory" + item.ID] = item.Category;}">
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
            <p>@Html.DisplayFor(modelItem => item.Descritpion)</p>
            <div class="price">£@Html.DisplayFor(modelItem => item.Price)</div>
            <a onclick="addToOrder(@item.ID)"><img src="~/Images/add.png" /></a>
        </div>
        }
    }

    <h1 id="mainMeals">Main Meals</h1>
    @foreach (var item in Model)
    {
        if (item.Category.Trim() == "Main Meal")
        {

            <div class="menuItems" onmouseover="@{TempData["orderName" + item.ID] = item.Name; TempData["orderPrice" + item.ID] = item.Price; TempData["orderDescription" + item.ID] = item.Descritpion; TempData["orderCategory" + item.ID] = item.Category;}">
                <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
                <p>@Html.DisplayFor(modelItem => item.Descritpion)</p>
                <div class="price">£@Html.DisplayFor(modelItem => item.Price)</div>
                <a onclick="addToOrder(@item.ID)"><img src="~/Images/add.png" /></a>
            </div>
        }
    }

    <h1 id="desserts">Desserts</h1>
    @foreach (var item in Model)
    {
        if (item.Category.Trim() == "Desserts")
        {
            <div class="menuItems" onmouseover="@{TempData["orderName" + item.ID] = item.Name; TempData["orderPrice" + item.ID] = item.Price; TempData["orderDescription" + item.ID] = item.Descritpion; TempData["orderCategory" + item.ID] = item.Category;}">
                <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
                <p>@Html.DisplayFor(modelItem => item.Descritpion)</p>
                <div class="price">£@Html.DisplayFor(modelItem => item.Price)</div>
                <!-- &#8853; Is HTML for a circle with a + in the middle -->
                <a onclick="addToOrder(@item.ID)"><img src="~/Images/add.png" /></a>
            </div>
        }
    }

</div>

<script type="text/javascript">
</script>
<!-- <img src="~/Images/moreMenus.png" id="moreMenusImage"/> -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    function addToOrder(ID) {
                var linkString = "/Tickets/AddToOrder/" + ID;
                $.ajax({
                    type: "POST",
                    url: linkString,
                    data: '',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert(response + " added to your order!");
                    },
                    failure: function (response) {
                        alert("Failure.");
                    },
                    error: function (response) {
                        alert("Error.");
                    }
                });
    }
</script> 